# Backend Environment Variables
NODE_ENV=development
PORT=3000

# Database
POSTGRES_USER=skyroute
POSTGRES_PASSWORD=skyroute_secret
POSTGRES_DB=skyroute_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# CORS
FRONTEND_URL=http://localhost:5173

# External APIs (Sprint 2)
# AVIATIONSTACK_API_KEY=
# AIRLABS_API_KEY=
